# Godot 4+ specific ignores
.godot/

# Gradle specific ignores
.gradle/
build/

# Godot Kotlin/JVM specific ignores
.idea/
jre-arm64/
jre-amd64/
graal/
*.log
src/main/resources/META-INF/services/


assets/
addons/controller_icons/assets/
addons/controller_icons_csharp/assets/
/src/main/kotlin/lib/controllerIcons/assets/

godot.windows.editor.x86_64.jvm.0.13.1.console.exe
godot.windows.editor.x86_64.jvm.0.13.1.exe
